:root {
  --primary: #4e710f;
  --secondary: #bc7576;
}

body {
  font-family: Segoe UI, sans-serif;
  background-color: #f8f9fc;
  padding: 20px 0;
}

.card {
  border: none;
  box-shadow: 0 0.35rem 1.75rem rgba(59, 69, 59, 0.1);
  margin-bottom: 25px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  background-color: transparent;
  padding: 1px 1px 1px 1px;
  border-bottom: 1px solid #c2c3c6;
  font-weight: 600;
  color: var(--primary);
}

.header-bg {
  background-image: linear-gradient(45deg, var(--primary), #224d0a);
  color: white;
  border-radius: 30px;
  margin-bottom: 30px;
}

.tab-item {
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #f8f9fc;
  border-radius: 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s;
  color: var(--primary);
}

.tab-item:hover {
  background-color: var(--primary);
  color: white;
}

.tab-item.active {
  background-color: var(--primary);
  color: white;
  font-weight: 500;
}

.total-card {
  border-radius: 10px;
  color: white;
  padding: 15px;
  text-align: center;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toot-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
}

.btn {
  border-radius: 8px;
}:root {
  --primary: #4e710f;
  --secondary: #bc7576;
}

body {
  font-family: Segoe UI, sans-serif;
  background-color: #f8f9fc;
  padding: 20px 0;
}

.card {
  border: none;
  box-shadow: 0 0.35rem 1.75rem rgba(59, 69, 59, 0.1);
  margin-bottom: 25px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  background-color: transparent;
  padding: 1px 1px 1px 1px;
  border-bottom: 1px solid #c2c3c6;
  font-weight: 600;
  color: var(--primary);
}

.header-bg {
  background-image: linear-gradient(45deg, var(--primary), #224d0a);
  color: white;
  border-radius: 30px;
  margin-bottom: 30px;
}

.tab-item {
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #f8f9fc;
  border-radius: 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s;
  color: var(--primary);
}

.tab-item:hover {
  background-color: var(--primary);
  color: white;
}

.tab-item.active {
  background-color: var(--primary);
  color: white;
  font-weight: 500;
}

.total-card {
  border-radius: 10px;
  color: white;
  padding: 15px;
  text-align: center;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toot-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
}

.btn {
  border-radius: 8px;
} }
